<li>
    {{burger_name}}

    <button class="change-status" data-id="{{id}}" data-newStatus="{{devoure}}">
        {{#if devoure}}EAT ME!{{else}}DELETE{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>



</li>